[Unit]
Description=Gateway-Mon VPN Gateway Clobberer
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gateway-mon -linkName gpd0 -delDefaultGw -del 192.168.0.0/16 -add 192.168.114.0/24 -add 192.168.115.0/24
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
